<div id="container">
  <header>
    <h1><a href="#" class="logo">BrazilJS Checkin</a></h1>
  </header>

  <div id="main">
    <section id="current-keynote">
      <a href="#">
        <figure>
          <img src="img/photos/<%= @current.author.parameterize %>.jpg" alt="<%= @current.title %>">
        </figure>
        <span>Agora!</span>
        <h2><%= @current.author %></h2>
      </a>
    </section>
    <ul class="speakers-list">
      <% @keynotes.each do |keynote| %>
        <li>
          <a href="/keynotes/<%= keynote.id %>">
            <img src="img/photos/<%= keynote.author.parameterize %>.jpg" alt="<%= keynote.title %>">
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <footer>
		<nav>
			<li><a class="friday current">Sexta</a></li>
			<li><a class="saturday">Sábado</a></li>
		</nav>
  </footer>
</div> <!-- end of #container -->
