<div id="container">
  <header>
    <h1><a href="/" class="logo">BrazilJS Checkin</a></h1>
  </header>

  <section id="nav">
  <nav>
  <ul>
    <li><a href="/?date=2011-05-13" class="friday current">Sexta</a></li>
    <li><a href="/?date=2011-05-14" class="saturday">Sábado</a></li>
  </ul>
  </nav>
  </section>

  <div id="main">
    <section id="current-keynote">
      <a href="/keynote/<%= @current.id %>">
        <figure>
          <img src="<%= avatar @current %>" alt="<%= @current.title %>">
        </figure>
        <span>Agora!</span>
        <h2><%= @current.author %></h2>
				<span class="arrow">Ver</span>
      </a>
    </section>

    <ul class="speakers-list">
      <% @keynotes.each do |keynote| %>
        <li>
          <a href="/keynote/<%= keynote.id %>">
            <img src="<%= avatar keynote %>" alt="<%= keynote.title %>">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div> <!-- end of #container -->
