<div id="container">
  <header>
    <h1><a href="/" class="logo">BrazilJS Checkin</a></h1>
  </header>

  <section id="nav">
    <nav>
      <li><a class="friday current">Sexta</a></li>
      <li><a class="saturday">Sábado</a></li>
    </nav>
  </section>

  <div id="main">
    <section id="current-keynote">
      <a href="/<%= @current.try(:id) %>">
        <figure>
          <img src="img/photos/<%= @current.try(:author).try(:parameterize) %>.jpg" alt="<%= @current.try(:title) %>">
        </figure>
        <span>Agora!</span>
        <h2><%= @current.try(:author) %></h2>
				<span class="arrow">Ver</span>
      </a>
    </section>

    <ul class="speakers-list">
      <% @keynotes.each do |keynote| %>
        <li>
          <a href="/keynote/<%= keynote.try(:id) %>">
            <img src="img/photos/<%= keynote.try(:author).try(:parameterize) %>.jpg" alt="<%= keynote.try(:title) %>">
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div> <!-- end of #container -->
