<div id="container">
  <header>
    <h1><a href="#" class="logo">BrazilJS Checkin</a></h1>
  </header>

  <div id="main">
    <section id="current-keynote">
      <a href="#">
        <figure>
          <img src="img/1day/gc.jpg" width="86" height="76" alt="Gc">
        </figure>
        <span>Agora!</span>
        <h2><%= @current.author %></h2>
      </a>
    </section>
    <ul class="speakers-list">
      <%= @keynotes.each do |keynote| %>
        <li><a href="<%= %>"><img src="img/photos/<%= keynote.id %>"> alt="<%= keynote.title %>"></li>
      <% end %>
    </ul>
  </div>

  <footer>
    <a class="friday">Sexta</a>
    <a class="saturday">Sábado</a>
  </footer>
</div> <!-- end of #container -->
