<div id="container" class="keynote-page">
  <header>
  <a href="#" class="button back">Voltar</a>
  <h1><%= @keynote.author %></h1>
  </header>

  <div id="main">
    <section id="rate-it">
      <ul>
        <li><a href="<%= %>"><span>curti, macho</span></a></li>
        <li><a href="<%= %>"><span>arre égua</span></a></li>
      </ul>
      <figure>
        <img src="img/photos/<%= @keynote.author.parameterize %>.jpg" width="273" height="203" alt="<%= @keynote.author %>">
      </figure>
      <a href="#" class="button">Checkin</a>
    </section>
  </div>
</div> <!-- end of #container -->
